<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   
    <link href="/Content/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    
    <title>Borrow Registration</title>
</head>

<body ng-app="my-app">
    <div ng-controller="borrowAddCtrl" class="container mt-3">
        <h3>Borrow Registration</h3>

        <form ng-submit="createBorrow()" novalidate>


            <div class="mb-3 mt-3">
                <label for="userId" class="form-label">User ID</label>
                <input type="number" ng-model="userId" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="bookId" class="form-label">Book ID</label>
                <input type="number" ng-model="bookId" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="borrowDate" class="form-label">Borrow Date</label>
                <input type="datetime-local" ng-model="borrowDate" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="dueDate" class="form-label">Due Date</label>
                <input type="datetime-local" ng-model="dueDate" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="returnDate" class="form-label">Return Date</label>
                <input type="datetime-local" ng-model="returnDate" class="form-control">
            </div>


            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" ng-model="email" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="status" class="form-label">Status</label>
                <input type="text" ng-model="status" class="form-control">
            </div>

          <!--   <div class="mb-3 mt-3">
                <label for="status" class="form-label">Status</label>
                <select ng-model="status" name="cars" id="cars">
                    <option value="Requested">Requested</option>
                    <option value="Returned">Returned</option>
                    <option value="Canceled">Canceled</option>
                  </select>
                
            </div>

           <div class="mb-3 mt-3">
                <label for="fine" class="form-label">Fine</label>
                <input type="number" ng-model="fine" class="form-control">
            </div> -->
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

    <script src="/Content/angular-1.8.2/angular.min.js"></script>
    <script src="/Content/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/Controller/borrow/borrow.js"></script>
</body>
</html>
