<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
   
    <link href="/Content/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/bootstrap-5.3.0/css/DashboardV4.css">

    
    <title>Admin Update</title>
</head>

<body ng-app="my-app">
    <div ng-controller="adminUpdateCtrl" class="container mt-3">

        <form ng-submit="updateAdmin()" novalidate>

            <h2 style="color:rgb(77, 177, 77)" >Update Information</h2>


            <div class="mb-3 mt-3">
                <label for="adminId" class="form-label">Admin ID</label>
                <input type="text" ng-model="adminId" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" ng-model="firstName" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" ng-model="lastName" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" ng-model="username" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="phone" class="form-label">Phone</label>
                <input type="text" ng-model="phone" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="presentAddress" class="form-label">Present Address</label>
                <input type="text" ng-model="presentAddress" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="permanentAddress" class="form-label">Permanent Address</label>
                <input type="text" ng-model="permanentAddress" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="nid" class="form-label">NID</label>
                <input type="text" ng-model="nid" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" ng-model="email" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" ng-model="password" class="form-control">
            </div>

            <div class="mb-3 mt-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" ng-model="confirmPassword" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
            <br>
            <br>
            <a href="/Views/admin/adminUpdatePage.html" class="btn btn-warning">Back</a>

        </form>
    </div>

    <script src="/Content/angular-1.8.2/angular.min.js"></script>
    <script src="/Content/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/Controller/admin/adminUpdate.js"></script>
</body>
</html>
