<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>
    <link href="/Content/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/bootstrap-5.3.0/css/DashboardV3.css">
  </head>
  <body>
<form action="admin-Dashboard">
    <section>
      
        <div class="layout">
            <h2 style="color:rgb(77, 177, 77)">Manage Admin</h2>
            <br>
            <div class="btn-group">
                <a href="/Views/admin/admin.html" class="btn btn-success">Add Admin</a>
                <a href="/Views/admin/adminAll.html" class="btn btn-primary">Admin List </a>
                <a href="/Views/admin/adminDelete.html" class="btn btn-danger">Delete Admin</a>
                <a href="/Views/admin/adminUpdatePage.html" class="btn btn-warning">Update Admin</a>
                <a href="/Views/admin/adminSearch.html" class="btn btn-secondary">Search Admin</a>
                <!-- <a href="/Views/admin/login.html" class="btn btn-danger">Logout</a> -->
             </div>
             <br>
             <br>
             <br>
             <br>
             <br>


             <h2 style="color:rgb(77, 177, 77)">Manage Employee</h2>
             <br>
             <div class="btn-group">
              <a href="/Views/employee/employee.html" class="btn btn-success">Add Employee</a>
              <a href="/Views/employee/employeeAll.html" class="btn btn-primary">Employee List </a>
              <a href="/Views/employee/employeeDelete.html" class="btn btn-danger">Delete Employee</a>
              <a href="/Views/employee/employeeUpdatePage.html" class="btn btn-warning">Update Employee</a>
              <a href="/Views/employee/employeeSearch.html" class="btn btn-secondary">Search Employee</a>
              <!-- <a href="/Views/admin/login.html" class="btn btn-danger">Logout</a> -->

            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
             <h2 style="color:rgb(77, 177, 77)">Manage Category</h2>
              <br>
              <div class="btn-group">
               <a href="/Views/category/category.html" class="btn btn-success">Add Category</a>
               <a href="/Views/category/categoryAll.html" class="btn btn-primary">Category List </a>
               <a href="/Views/category/categoryDelete.html" class="btn btn-danger">Delete Category</a>
               <a href="/Views/category/categoryUpdatePage.html" class="btn btn-warning">Update Category</a>
               <a href="/Views/category/categorySearch.html" class="btn btn-secondary">Search Category</a>
               <!-- <a href="/Views/admin/login.html" class="btn btn-danger">Logout</a> -->
             </div>

             <div class="layout">
             
            </div>

    </section>
<br>
<br>

<br><br>
<br><br>
<br><br>
<br><br>


<a href="/Views/admin/login.html" class="btn btn-danger">Logout</a>

</form>
    <script src="/Content/angular-1.8.2/angular.min.js"></script>
    <script src="/Content/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
