<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/bootstrap-5.3.0/css/DashboardV5.css">
    
    <title>Book Delete</title>
</head>
<body ng-app="my-app">
    <div ng-controller="bookAllCtrl" class="container mt-3">
        <form>
            <h2 style="color:rgb(77, 177, 77)" >Book List</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="book in books">
                    <td>{{ book.BookId }}</td>
                    <td>{{ book.Title }}</td>
                    <td>{{ book.Author }}</td>
                    <td>{{ book.Description }}</td>
                    <td>{{ book.Price }}</td>
                    <td>{{ book.Quantity }}</td> 
                    <td>
                        <button ng-controller="bookDeleteCtrl" class="btn btn-danger" ng-click="deleteBook(book.BookId)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
    <script src="/Content/angular-1.8.2/angular.min.js"></script>
    <script src="/Content/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/Controller/book/bookDelete.js"></script>
</body>
</html>
