<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/bootstrap-5.3.0/css/DashboardV4.css">

    <title>Receipt Search</title>
</head>
<body ng-app="my-app">
    <div ng-controller="receiptSearchCtrl" class="container mt-3">
        <form ng-submit="searchReceipt()">
            <h2 style="color:rgb(77, 177, 77)" >Search Receipt</h2>

            <div class="form-group">
                <input type="text" class="form-control" id="receiptId" ng-model="receiptId">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>

            <div ng-if="searchResult">
                <br>
                
                <h4>Search Result:</h4>
                <p>Receipt Id: {{ searchResult.ReceiptId }}</p>
                <p>Receipt Number: {{ searchResult.ReceiptNumber }}</p>
                <p>Receipt Description: {{ searchResult.ReceiptDescription }}</p>
                <p>Customer Id: {{ searchResult.CustomerId }}</p>
                <p>Amount: {{ searchResult.Amount }}</p>
            </div>
        </form>


    </div>
    <script src="/Content/angular-1.8.2/angular.min.js"></script>
    <script src="/Content/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/Controller/receipt/receiptSearch.js"></script>
</body>
</html>
