<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/bootstrap-5.3.0/css/DashboardV5.css">

    <title>Author List</title>
</head>
<body ng-app="my-app">
    <div ng-controller="authorAllCtrl" class="container mt-3">
<form>
    <h2 style="color:rgb(77, 177, 77)" >Author List</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>AuthorName</th>
                    <th>AuthorId</th>
                    <th>AuthorBio</th>
                    <th>PresentAddress</th>
                    <th>AuthorEmail</th>
                    <th>Password</th>
                    <th>ConfirmPassword</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="author in authors">
                    <td>{{ author.AuthorName }}</td>
                    <td>{{ author.AuthorId }}</td>
                    <td>{{ author.AuthorBio }}</td>
                    <td>{{ author.PresentAddress }}</td>
                    <td>{{ author.AuthorEmail }}</td>
                    <td>{{ author.Password }}</td>
                    <td>{{ author.ConfirmPassword }}</td>
                    </td>
                </tr>
            </tbody>
        </table>
</form>
    </div>
    <script src="/Content/angular-1.8.2/angular.min.js"></script>
    <script src="/Content/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/Controller/author/authorAll.js"></script>
</body>
</html>
