<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/Content/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/bootstrap-5.3.0/css/DashboardV4.css">

    <title>Publisher Search</title>
</head>
<body ng-app="my-app">
    <div ng-controller="publisherSearchCtrl" class="container mt-3">
        <form ng-submit="searchPublisher()">
            <h2 style="color:rgb(77, 177, 77)" >Search Publisher</h2>

            <div class="form-group">
                <input type="text" class="form-control" id="publisherId" ng-model="publisherId">
            </div>
            
            <button type="submit" class="btn btn-primary">Search</button>

            <div ng-if="searchResult">
                <br>
                <h4>Search Result:</h4>
                <p>ID: {{ searchResult.Id }}</p>
                <p>First Name: {{ searchResult.FirstName }}</p>
                <p>Last Name: {{ searchResult.LastName }}</p>
                <p>Username: {{ searchResult.Username }}</p>
                <p>Email: {{ searchResult.Email }}</p>
                <p>Password: {{ searchResult.Password }}</p>
                <p>Website: {{ searchResult.Website }}</p>
            </div>
            <br>
            <br>
            <a href="/Views/publisher/publisherDashboard.html" class="btn btn-warning">Dashboard</a>

        </form>


    </div>
    <script src="/Content/angular-1.8.2/angular.min.js"></script>
    <script src="/Content/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="/Controller/publisher/publisherSearch.js"></script>
</body>
</html>
