<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Customer Dashboard</title>
    <link href="/Content/bootstrap-5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/bootstrap-5.3.0/css/DashboardV3.css">
  </head>
  <body>
<form action="customer-Dashboard">
    <section>
      
        <div class="layout">
            <h2 style="color:rgb(77, 177, 77)">Manage Customer</h2>
            <br>
            <div class="btn-group">
                <a href="/Views/customer/customer.html" class="btn btn-success">Add Customer</a>
                <a href="/Views/customer/customerAll.html" class="btn btn-primary">Customer List </a>
                <a href="/Views/customer/customerDelete.html" class="btn btn-danger">Delete Customer</a>
                <a href="/Views/customer/customerUpdatePage.html" class="btn btn-warning">Update Customer</a>
                <a href="/Views/customer/customerSearch.html" class="btn btn-secondary">Search Customer</a>
                <!-- <a href="/Views/customer/login.html" class="btn btn-danger">Logout</a> -->
             </div>
             <br>
             <br>
             <br>

             <h2 style="color:rgb(77, 177, 77)">Manage Book</h2>
             <br>
             <div class="btn-group">
              <a href="/Views/book/book.html" class="btn btn-success">Add Book</a>
              <a href="/Views/book/bookAll.html" class="btn btn-primary">Book List </a>
              <a href="/Views/book/bookDelete.html" class="btn btn-danger">Delete Book</a>
              <a href="/Views/book/bookUpdatePage.html" class="btn btn-warning">Update Book</a>
              <a href="/Views/book/bookSearch.html" class="btn btn-secondary">Search Book</a>
              <!-- <a href="/Views/admin/login.html" class="btn btn-danger">Logout</a> -->

            </div>
            <br>
            <br>
            <br>

             <h2 style="color:rgb(77, 177, 77)">Manage Order</h2>
              <br>
              <div class="btn-group">
               <a href="/Views/order/order.html" class="btn btn-success">Add Order</a>
               <a href="/Views/order/orderAll.html" class="btn btn-primary">Order List </a>
               <a href="/Views/order/orderDelete.html" class="btn btn-danger">Delete Order</a>
               <a href="/Views/order/orderUpdatePage.html" class="btn btn-warning">Update Order</a>
               <a href="/Views/order/orderSearch.html" class="btn btn-secondary">Search Order</a>
               <!-- <a href="/Views/admin/login.html" class="btn btn-danger">Logout</a> -->
             </div>

             <div class="layout">
             
            </div>

    </section>
<br>
<br>

<br><br>
<a href="/Views/customer/login.html" class="btn btn-danger">Logout</a>

</form>



    <script src="/Content/angular-1.8.2/angular.min.js"></script>
    <script src="/Content/bootstrap-5.3.0/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
